<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Awesome Text Messaging App!</h2>
    <hr />
    @Html.ActionLink("View all Messages", "GetMessages")
    <br />
    @Html.ActionLink("Send a new message", "SendMessage")


</body>
</html>